.button{
    all: unset;
    border-radius: 16px;
    padding: 8px 16px;
    background-color: #EDEDED;
    color: #000;
    display: flex;
    justify-content: center ;
    cursor: pointer;

    input{
        text-overflow: ellipsis;
    }

    &-container{
        display: flex;
        margin-bottom: 1%; 
        margin-top: 3%;
    }

    &-dark{
        background-color: #000000;
        color: #FFF;
        &:last-child{
            margin-left: 1%;
        }
    }

    &-primary{
        background-color: #95B5FF;
    }
    &-warning{
        background-color: #FCCF40;
    }
    &-danger{
        background-color: #FF726B;
    }
    &-success{
        background-color: #9AFFA4;
    }
}