*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

.body-wrapper{
    width: 94%;
    margin: auto;
}



@import "components/tab.scss";
@import "components/visuals.scss";
@import "components/button.scss";
@import "components/loader.scss";
@import "components/img.scss";
@import "components/modal.scss";